@use '@/assets/scss/reset';
@use '@/assets/scss/fonts';

* {
    font-family: 'Poppins', sans-serif;
}

/* S'assure que la page prend toute la hauteur de l'écran */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Permet au contenu de grandir et pousse le footer vers le bas */
.content {
    flex: 1;
}