* {
  font-family: 'Poppins';
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* S'assure que la page prend toute la hauteur de l'écran */
}

.content {
  flex: 1; /* Permet au contenu de grandir et pousse le footer vers le bas */
}